body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  color: #66BFBF;
}

.ale {
  margin-top: 0;
  position: relative;
  top: 50px;
  font-family: 'Sacramento', cursive;
}

.programmer {
  position: relative;
  top: 50px;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 2;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #40514E;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

.top-container {
  background-color: #ccf2f4;
  position: relative;
  padding-top: 100px;
}

.pro {
  text-decoration: underline;
}

img {
  display: inline-block;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-row {
  width: 50%;
  position: relative;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
  overflow: auto;
}

.compu {
  width: 25%;
  float: left;
  padding-right: 30px;
}

.chilli {
  width: 25%;
  float: right;
  padding-left: 30px;
}

hr {
  border-style: none;
  border-color: #EAF6F6;
  border-top-style: dotted;
  border-width: 10px;
  width: 12%;
  margin: 100px auto 100px auto;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.footer {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  padding-left: 30px;
}

a:hover {
  color: #EAF6F6
}

.BUTTON_HFW {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.BUTTON_HFW:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}

.contact-me {
  padding-bottom: 25px;
}

.middle-container {
  margin: 100px 0;
}

.contacto {
  padding-bottom: 50px;
  width: 40%;
  margin: 40px auto 60px;
}

.intro {
  width: 20%;
  margin: auto auto;
}
